@tailwind base;
@tailwind components;
@tailwind utilities;
.loader {
  position: relative;
  width: 1.5em;
  aspect-ratio: 1/2;
  filter: url(#goo);
}

#goo {
  display: none;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  aspect-ratio: 1/1;
  animation: 2.5s ease-in-out infinite loader;
  border-radius: 50%;
}

.loader:before {
  background: linear-gradient(#bf0000, #bf0000);
}

.loader:after {
  animation-delay: 0.75s;
  background: linear-gradient(#bf0000, #bf0000);
}

@keyframes loader {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(99%);
  }

  75% {
    transform: translateY(-99%);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background: #fffefe;
  font-style: normal;
  overflow-x: hidden;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 5px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #e9d4d4;
}
::-webkit-scrollbar-thumb:hover {
  background: #b98787;
}

ul {
  list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Checkbox */

.path {
  fill: none;
  stroke: #bf0000;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.checkbox:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}
